def safe_calculator(func):
    def wrapper(expression):
        try:
            return func(expression)
        except ZeroDivisionError:
            print(f" Помилка у виразі '{expression}': Ділення на нуль неможливе")
            return None
        except (SyntaxError, NameError, TypeError):
            print(f"Помилка у виразі '{expression}': Некоректний синтаксис або невідомі символи")
            return None
        except Exception as e:
            print(f"Виникла помилка при обчисленні '{expression}': {e}")
            return None
    return wrapper


@safe_calculator
def calculate(expression):
    return eval(expression)


print("Результат 2 + 2 * 3:", calculate("2 + 2 * 3"))      
print("Результат 10 / 0:", calculate("10 / 0"))        
print("Результат 5 + abc:", calculate("5 + abc"))        
print("Результат 2 ++ 3:", calculate("2 ++ 3"))          
